.image-container {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 10px;
  }
  
  .image-box {
    flex: 1;
    margin: 5px 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  