.image-container {
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 10px;
  }
  
  .image-box {
    cursor: pointer;
    border: none;
    border-radius: 35px;
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin: 5px 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 35px;
  }
  